<%= form_for(information) do |f| %>
  <% if information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(information.errors.count, "error") %> prohibited this information from being saved:</h2>

      <ul>
      <% information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>

  <div class="field">
    <%= f.label :neighborhood %>
    <%= f.text_field :neighborhood %>
  </div>

  <div class="field">
    <%= f.label :zipcode %>
    <%= f.text_field :zipcode %>
  </div>

  <div class="field">
    <%= f.label :street_number %>
    <%= f.text_field :street_number %>
  </div>

  <div class="field">
    <%= f.label :complementary %>
    <%= f.text_field :complementary %>
  </div>

  <div class="field">
    <%= f.label :ddd %>
    <%= f.text_field :ddd %>
  </div>

  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :member_id %>
    <%= f.text_field :member_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
