<p id="notice"><%= notice %></p>

<p>
  <strong>Street:</strong>
  <%= @information.street %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @information.neighborhood %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @information.zipcode %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @information.street_number %>
</p>

<p>
  <strong>Complementary:</strong>
  <%= @information.complementary %>
</p>

<p>
  <strong>Ddd:</strong>
  <%= @information.ddd %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @information.phone_number %>
</p>

<p>
  <strong>Member:</strong>
  <%= @information.member %>
</p>

<%= link_to 'Edit', edit_information_path(@information) %> |
<%= link_to 'Back', information_index_path %>
