<%= form_for(recipient) do |f| %>
  <% if recipient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipient.errors.count, "error") %> prohibited this recipient from being saved:</h2>

      <ul>
      <% recipient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bank_code %>
    <%= f.text_field :bank_code, maxlength:3 %>
  </div>

  <div class="field">
    <%= f.label :agencia %>
    <%= f.text_field :agencia, maxlength:4 %>
  </div>

  <div class="field">
    <%= f.label :agencia_dv %>
    <%= f.text_field :agencia_dv, maxlength:2 %>
  </div>

  <div class="field">
    <%= f.label :conta %>
    <%= f.text_field :conta, maxlength:10 %>
  </div>

  <div class="field">
    <%= f.label :conta_dv %>
    <%= f.text_field :conta_dv, maxlength:2 %>
  </div>

  <div class="field">
    <%= f.label :legal_name %>
    <%= f.text_field :legal_name, maxlength:60 %>
  </div>

  <div class="field">
    <%= f.label :document_number %>
    <%= f.text_field :document_number, maxlength:14 %>
  </div>

  <div class="field">
    <%= f.label :transfer_enabled %>
    <%= f.check_box :transfer_enabled %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
