<div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Transação</h3>
        </div>
    <div class="panel-body">
        <%= form_for(transaction) do |f| %>
          <% if transaction.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

              <ul>
              <% transaction.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
              </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :amount %>
            <%= f.number_field :amount, required: true, class:"form-control", placeholder:"Quantidade (Em Centavos)" %>
          </div>

          <div class="form-group">
            <label for="boleto">Boleto</label>
            <%= f.radio_button(:pay_method, "boleto") %>
            <label for="credit_card">Cartão de Crédito</label>
            <%= f.radio_button(:pay_method, "credit_card") %>
          </div>
          
          <div class="form-group">

            <fieldset id="transaction_recipients-recipient">
                <ol>
                    <%= f.fields_for :transaction_recipients do |transaction_recipients| %>
                      <%= render partial: "transaction_recipient_fields", locals: {f: transaction_recipients} %>
                    <% end %>
                </ol>
            </fieldset>

            <%= link_to_add_association 'Add Recipient', f, :transaction_recipients, 
            'data-association-insert-node' => "#transaction_recipients-recipient ol",
            'data-association-insert-method' => "append", 
            :wrap_object => Proc.new{|transaction_recipients| transaction_recipients.build_recipient; transaction_recipients} %>
          </div>
          
          <div id="creditCard_form" class="creditCard_form form-group">
            Número do cartão: 
            <input type="text" id="card_number" maxlength="19" class="form-control" placeholder="Número do Cartão"/>
            <br/>
            Nome (como escrito no cartão): 
            <input type="text" id="card_holder_name"  maxlength="60" class="form-control" placeholder="Nome(Igual no cartão)"/>
            <br/>
            Mês de expiração: 
            <input type="text" id="card_expiration_month"  maxlength="2" class="form-control" placeholder="Mês de expiração"/>
            <br/>
            Ano de expiração: 
            <input type="text" id="card_expiration_year" maxlength="2" class="form-control" placeholder="Ano de expiração"/>
            <br/>
            Código de segurança: 
            <input type="text" id="card_cvv" maxlength="3" class="form-control" placeholder="Código de Segurança"/>
            <br/>
                
            <div id="field_errors">
            </div>
            <br/>
        </div>

            <div class="actions">
              <%= f.submit class:"btn btn-lg btn-success btn-block"%>
                <%= link_to home_index_path do %>
                    <button class="btn btn-lg btn-danger btn-block">Cancelar</button>
                <% end %>
            </div>
        <% end %>
    </div>
    </div>
</div>

<script type="text/javascript">
$(document).ready(function() { // quando o jQuery estiver carregado...
    
    $("#creditCard_form").hide();
    
    $("input[id$='transaction_pay_method_credit_card'").click(function() {
            $("#creditCard_form").show();
    });

    $("input[id$='transaction_pay_method_boleto'").click(function() {
            $("#creditCard_form").hide();
    });
    
    PagarMe.encryption_key = "ek_test_isRGBmcfKUcxymEKQhrqEQfeHNFv9n";

    var form = $("#new_transaction");

    form.submit(function(event) { // quando o form for enviado...
        // inicializa um objeto de cartão de crédito e completa
        // com os dados do form
        if($("input[name='transaction[pay_method]']:checked").val() == "credit_card"){ //se o método de pagamento for cartão de crédito
            var creditCard = new PagarMe.creditCard();
            creditCard.cardHolderName = $("#new_transaction #card_holder_name").val();
            creditCard.cardExpirationMonth = $("#new_transaction #card_expiration_month").val();
            creditCard.cardExpirationYear = $("#new_transaction #card_expiration_year").val();
            creditCard.cardNumber = $("#new_transaction #card_number").val();
            creditCard.cardCVV = $("#new_transaction #card_cvv").val();

            // pega os erros de validação nos campos do form
            var fieldErrors = creditCard.fieldErrors();

            //Verifica se há erros
            var hasErrors = false;
            for(var field in fieldErrors) { hasErrors = true; break; }

            if(hasErrors) {
                // realiza o tratamento de errors
                alert(fieldErrors);
            } else {
                // se não há erros, gera o card_hash...
                creditCard.generateHash(function(cardHash) {
                    // ...coloca-o no form...
                    form.append($('<input type="text" name="transaction[card_hash]" id="transaction_card_hash">').val(cardHash));
                    // e envia o form
                    form.get(0).submit();
                });
            }

            return false;
        }
    });
    
});
</script>

